[submodule "go"]
	path = go
	url = https://github.com/Bluebugs/go.git
[submodule "ispc"]
	path = ispc
	url = https://github.com/ispc/ispc.git
[submodule "tinygo"]
	path = tinygo
	url = https://github.com/Bluebugs/tinygo.git
[submodule "bluebugs.github.io"]
	path = bluebugs.github.io
	url = https://github.com/Bluebugs/bluebugs.github.io.git
[submodule "go-llvm"]
	path = go-llvm
	url = https://github.com/tinygo-org/go-llvm.git
