[submodule "go"]
	path = go
	url = https://github.com/Bluebugs/go.git
[submodule "ispc"]
	path = ispc
	url = https://github.com/ispc/ispc.git
[submodule "tinygo"]
	path = tinygo
	url = https://github.com/Bluebugs/tinygo.git
